.about-page{
    background-color: var(--gold) !important;
    color:white;
}

.about-page h2,
.team-leaders h2{
    font-weight: bold;
}

.team-leaders{
    text-align: center;
    color: white;
    padding: 3%;
}

<<<<<<< HEAD
.about-box{
    animation: .2s ease-in 1s 1 forOpacity;

=======
.about-page .about-box{
>>>>>>> a811cf2111ee18cb446145d327dd75f854e9b590
}


/*Our Team*/
.team-leader-card .card{

}

.team-leader-card{
    display: flex;
    justify-content: center;
    color: var(--blue);
    
}

.team-leader-card div{
    margin: 5px;
    
}

.team-leader-card .card img{
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    margin: auto
}

.team-leader-card .card{
    background-color:aliceblue;
    box-shadow: 2px 2px 7px black;
    margin: 10px;
    padding: 10px;
    width: 350px;
}

.card-body{
    width: 300px;
}

.card-body a{
    margin-left:0;
    padding-left: 0;
}

.about-page-our-employees{
    background-color: var(--gold);
}

.about-page-our-employees{
    
<<<<<<< HEAD
}

=======
}
>>>>>>> a811cf2111ee18cb446145d327dd75f854e9b590
