/*about-us our-team*/

@media only screen and (max-width: 1269px) {
    .team-leader-card{
        display: block;  
        
    }

    .team-leader-card .card{
        display: inline-block;
    }

}

@media only screen and (min-width: 1200px) {
    body{
        /*display: none;*/
    }

    .gold-section p{
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
    }

    .banner{
        max-height: 1000px;
    }

}


@media only screen and (min-width: 2115px) {


    .our-employees-div div{
        width: auto;
    }

    .our-office-div div{
        width: auto;
    }

}

@media only screen and (max-width: 1100px) {
    .banner{
        height:1000px;
    }
}

@media only screen and (max-width: 933px) {



    .footer .footer-flex{
        display: block;
    }

    .banner{
        height:1000px;
    }

    .footer .footer-flex .company-id,
    .footer .footer-flex .services-about-us,
    .footer .footer-flex .about-us{
        display: block;
        width: 100%;
        max-width: 100%;
        margin:auto;
    }


    .footer .footer-flex .company-id img{
        display: block;
        margin: auto;
    }

    .footer .footer-flex .company-id .description{
        max-width: 300px;
        margin: auto;
        text-align: center;
    }


    .footer .footer-flex .contact-us{
        width: 100%;
    }

    .footer .footer-flex ul li{
        display: none;
    }

    /*.services-headline{
        display: block;
    }*/

    .contact-us-item i{
    }

    .contact-us-item div{
    } 
}


@media only screen and (max-width: 946px){
    .about-box,
    .company-services .company-services-row-1,
    .company-services .company-services-row-2{
        display: none;
    }

    #carouselServices{
        display: block;
    }
    #about-box2{
        display: none;
    }
    #about-box1{
        display: block;
    }
    

    .about-box-item,
    .company-service-item{
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 0;
        padding: 1%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;;
    }

    .about-box-item p,
    .company-service-item p{
        font-size: 20px;
    }

    .about-box-item h4,
    .company-service-item h4{
        font-size: 25px;
        font-weight: bolder;
    }
}

@media only screen and (max-width: 949px){
    .gold-section img{
        display: none;
    }

}


@media only screen and (max-width: 768px) {
    #hiddenMenu{
        display:block;
        color: black;
        font-size: 50px;
        width: 50%;
        cursor: pointer;
    }


    .logo{
        width: 50%;
        display: flex;
    }

    .logo img{
        height: 50px;
        float: right;

    }

    .header{
        width: 100%;
        position: relative;
        margin: 0;
    }

    .main-nav{
        right: 0;
        margin-top: 0;
        width: 600px;
        background-color: var(--gold);
        height: 100vh;
        
    }

    .main-nav ul li{
        width: 100%;
        display: block;
        text-align: center;
    }

    .main-nav ul li a{
        color: aliceblue;
        font-size: 30px;
    }

    .main-nav ul{
        background-color: var(--gold);
    }

    /*off canvas menu*/

    .about-us-menu:hover a{
        text-decoration: none !important;
        color: white;
    }
    
    .about-us-menu li:hover a{
        text-decoration: underline !important;
        color: white;
    }
    
    .about-us-menu li a{
        color: var(--gold) !important;
    }

    
    
    .about-us-menu a:hover{
        text-decoration: none !important;
    }
    


    body{
        height: 100vh;
        /*overflow-y: hidden;*/
    }

    .our-employees-div,
    .our-office-div{
        width: 100%;
        display: block;
        margin: auto;
    }

    .our-employees-div div,
    .our-office-div div{
    width: 100%;
}
    .our-employees .caption,
    .our-office-div .caption,
    .caption-2{
        text-align: center;
        padding: 5px;
        max-width: 100%;
        margin: auto;
    }

    .our-employees .img-div,
    .our-office-img{
        max-width: 100%;
        padding: 5px;
    }





    #mainNavMenu{
        display: block;

    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-caption{
        width: 100%;
        margin: 0;
    }
    .banner{
        padding:5px
    }

    .our-office{
        padding-left: 5px;
        padding-right: 5px;
    }
}